{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pastepun</title>
    <link rel="stylesheet" href="{% static 'paste/css/styles.css' %}">
</head>
<header class="site-header">
    <div class="container">
        <a class="header-logo" href="{% url 'home' %}">
            <img src="{% static 'paste/images/pastepun-logo.svg' %}" alt="Pastepun" class="pastepun-logo">
        </a>
        <div class="header-actions">
            <button class="btn reg">Create new</button>
            <button class="btn auth">Sign in</button>
        </div>
    </div>
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>