/* Общие настройки проекта */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;

}
body {
    background-color: #f5f5f5;
}

html {
    font-size: 110%;
}

.header {
    font-family: verdana;
    font-size: 150%;
    border: 2px solid powderblue;
}

.header-actions {
    padding: 0 30px;
}

.pastepun-logo {
    width: 300px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #40474c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: #343a3e;
}

.btn:active {
    transform: translateY(3px);
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submit {
    font-size: 1rem;
}

.form-group {
    width: 100%;
    padding: 10px;
}

#paste_text {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    font-size: 150%;
    height: 250px;
    margin: 0 auto;
    overflow: auto;
    resize: vertical;
}

.user_text {
    display: block;
    padding: 16px;
    font-size: 150%;
    resize: vertical;
    width: 1200px;
}

.form-label {
    display: block;
}




